In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import sklearn as sk

In [5]:
raw_data = pd.read_csv('pricing_info.csv')

raw_data.head()

,Serial_num,Quantity,Product_Weight,Price_per_unit,Total_price,SPEC
0,6100119-A-F02,2.0,0.0,75000.0,150000.0,AXH0095C
1,121000003,2.0,0.0,495000.0,990000.0,"量測範圍O12"""
2,6100001-X-000,2.0,0.0,12500.0,25000.0,BCM1500C/50-103320j
3,132000101,1.0,0.0,59000.0,59000.0,XXH0040C
4,6100051-B-000,1.0,0.0,109600.0,109600.0,BXS3156A

In [6]:
df=raw_data.copy()

df

,Serial_num,Quantity,Product_Weight,Price_per_unit,Total_price,SPEC
0,6100119-A-F02,2.0,0.0,75000.0,150000.0,AXH0095C
1,121000003,2.0,0.0,495000.0,990000.0,"量測範圍O12"""
2,6100001-X-000,2.0,0.0,12500.0,25000.0,BCM1500C/50-103320j
3,132000101,1.0,0.0,59000.0,59000.0,XXH0040C
4,6100051-B-000,1.0,0.0,109600.0,109600.0,BXS3156A
...,...,...,...,...,...,...
6783,6100107-A-C02,1.0,0.0,0.0,0.0,AXH0135C/28841F
6784,6100083-A-C02,1.0,0.0,25000.0,25000.0,BFM1500W/50-103354J
6785,131000053,1.0,0.0,62000.0,62000.0,AXS0020WBR00001
6786,131000053,10.0,0.0,51500.0,515000.0,AXS0020WBR00001
6787,131000053,20.0,0.0,45000.0,900000.0,AXS0020WBR00001

In [7]:
pd.unique(df['Serial_num'])

array(['6100119-A-F02', '121000003', '6100001-X-000', ...,
       '6100102-A-C02', '132000061', '6100083-A-C02'], dtype=object)

In [8]:
df.describe(include='all')

,Serial_num,Quantity,Product_Weight,Price_per_unit,Total_price,SPEC
count,6788,6788.000000,6788.0,6.788000e+03,6.788000e+03,5711
unique,1619,NaN,NaN,NaN,NaN,1818
top,99999,NaN,NaN,NaN,NaN,AXS0030W/AL1260
freq,1729,NaN,NaN,NaN,NaN,105
mean,NaN,70.630966,0.0,1.005659e+05,1.950499e+05,NaN
std,NaN,1992.534521,0.0,3.957533e+05,8.907555e+05,NaN
min,NaN,0.000000,0.0,-1.800000e+03,-1.800000e+03,NaN
25%,NaN,1.000000,0.0,1.949750e+03,5.881500e+03,NaN
50%,NaN,1.000000,0.0,1.350000e+04,2.750000e+04,NaN
75%,NaN,2.000000,0.0,4.950000e+04,9.022500e+04,NaN
max,NaN,100000.000000,0.0,1.146580e+07,3.600000e+07,NaN

,Serial_number,Product_name,SPEC,Quantity,Price,customer,Result
count,538,538,537,538.000000,5.380000e+02,339,538
unique,146,1,155,NaN,NaN,81,3
top,132000054,軸封新品,BBS0375CNR00001,NaN,NaN,262101117,Y
freq,60,538,60,NaN,NaN,26,446
mean,NaN,NaN,NaN,3.684015,4.296728e+04,NaN,NaN
std,NaN,NaN,NaN,5.968927,1.908052e+05,NaN,NaN
min,NaN,NaN,NaN,0.000000,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,1.000000,1.284975e+03,NaN,NaN
50%,NaN,NaN,NaN,2.000000,5.296830e+03,NaN,NaN
75%,NaN,NaN,NaN,3.000000,3.800000e+04,NaN,NaN
max,NaN,NaN,NaN,66.000000,3.980000e+06,NaN,NaN

              Price
count  1.550000e+02
mean   7.090496e+04
std    3.271686e+05
min    0.000000e+00
25%    1.562381e+03
50%    5.466667e+03
75%    5.210690e+04
max    3.980000e+06

SPEC
ABS0005CNR00002                 512.500000
ABS0006CNR00005                 280.000000
ABS0010CNR00003               22000.000000
ABS0012CNR00002              120000.000000
ACH0020CNR00002                 480.000000
                                 ...
XXS0030WNR00001              320000.000000
XXS0030WNR00011               94500.000000
XXS0105WNH00001/52-121187    250000.000000
XXS0625ANH00001               65333.333333
XXS0625ANH00002               32666.666667
Name: Price, Length: 155, dtype: float64

(166,)

C:\Users\User1090701\anaconda3\envs\data\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed